{% extends "layout/layout.njk" %} {% block content %} {% include
"./components/_hero.njk" %} {% include "./components/_aboutme.njk" %} {% include
"./components/_teams.njk" %} {% include "./components/_project.njk" %} {%
include "./components/_statistic.njk" %} {% include "./components/_contact.njk"
%} {% endblock %}
